{% extends 'index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Добавление статей</title>
{% endblock head %}

{% block content %}
        <div>
            <h2>Вход</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Войти</button>
            </form>
        </div>
{% endblock %}
