{% extends 'index.html' %}
{% load static %}
{% block head %}
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'forms.css' %}">
{% endblock head %}

{% block content %}
<div class="auth-form-container">
    <h2 class="auth-form-title">Регистрация</h2>
    <form method="post" class="auth-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Зарегистрироваться</button>
    </form>
    <div class="auth-links">
        <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
    </div>
</div>
{% endblock %}
