h2 {
  text-align: center;
  font-size: 28px; /* увеличиваем размер шрифта */
  margin-bottom: 30px; /* увеличиваем отступ снизу */
  color: #000000; /* изменяем цвет текста */
}

form {
  flex: 0 0 45%; /* увеличиваем ширину элемента формы */
  margin-bottom: 30px; /* увеличиваем отступ снизу */
  padding: 30px; /* увеличиваем внутренние отступы */
  border: 2px solid #306224; /* увеличиваем ширину границы и изменяем цвет */
  border-radius: 10px; /* увеличиваем радиус скругления углов */
  box-shadow: 0 0 15px rgb(0, 0, 0); /* добавляем более заметную тень */
  background-color: #3dbb1a; /* изменяем цвет фона */
}

form input[type="submit"] {
  background-color: #e31010;
  color: white;
  padding: 12px 24px; /* увеличиваем отступы внутри кнопки */
  border-radius: 8px; /* увеличиваем радиус скругления углов */
  border: 2px solid #e31010; /* увеличиваем ширину границы и изменяем цвет */
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

form input[type="submit"]:hover {
  background-color: #ff0000; /* изменяем цвет при наведении */
  border: 2px solid #ff0000; /* изменяем цвет границы при наведении */
}

form label {
  display: block;
  margin-bottom: 15px; /* увеличиваем отступ снизу */
  font-weight: bold;
  color: #000000; /* изменяем цвет текста */
}

form input[type="text"],
form textarea {
  width: calc(100% - 26px); /* уменьшаем ширину поля, чтобы было больше места для текста */
  padding: 12px;
  margin-bottom: 15px; /* увеличиваем отступ снизу */
  border: 2px solid #306224; /* увеличиваем ширину границы и изменяем цвет */
  border-radius: 8px; /* увеличиваем радиус скругления углов */
  box-sizing: border-box;
}

/* Дополнительные стили для улучшения внешнего вида */
body {
  background-color: #f2f2f2; /* изменяем цвет фона */
  font-family: 'Arial', sans-serif; /* добавляем кавычки вокруг названия шрифта */
}

.container {
  max-width: 1200px; /* добавляем максимальную ширину контейнера */
  margin: 0 auto; /* выравниваем по центру */
  padding: 40px; /* увеличиваем отступы */
}

h1 {
  text-align: center;
  margin: 30px auto; /* увеличиваем отступ сверху и снизу */
  color: #306224; /* изменяем цвет текста */
}
