.scrollingDiv {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #faf7f7;
    border: 1px solid #f8f7f8;
}

h1 {
    text-align: center;
}

.scrollingDiv h2 {
    background-color: #25e80e;
    padding: 10px;
    margin: 0;
}

.scrollingDiv p {
    padding: 10px;
    margin: 0;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.info-table th, .info-table td {
    border: 1px solid #4b1c1c;
    padding: 8px;
}

.info-table th {
    background-color: #fafafa;
}

.info-table tr:nth-child(even) {
    background-color: #fdfdff;
}

.info-table tr:hover {
    background-color: #f3f3f3;
}