<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block head %}
        <title>Главная Страница</title>
        <link rel="stylesheet" href="{% static 'home.css' %}">
    {% endblock head %}
</head>

<body>

    <header>
        <a href="{% url 'home' %}" class="logo">Наш сайт</a>

        <nav>
            <ul>
                <li><a href="#">Статьи &bigtriangledown;</a>
                    <ul>
                        <li><a href="{% url 'allsience' %}">Наука</a></li>
                        <li><a href="{% url 'allsport' %}">Спорт</a></li>
                        <li><a href="{% url 'allart' %}">Искусство</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'addarticles' %}">Добавить статью</a></li>
                <li><a href="{% url 'profile' %}">Личный кабинет</a></li>
                <li><a href="{% url 'reg' %}">Регистрация</a></li>

                {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}">Вход</a></li>
                {% else %}
                    <li><a href="{% url 'logout' %}?next={% url 'login' %}">Выход</a></li>
                {% endif %}
            </ul>
        </nav>

    </header>
{#    <img src="{% static 'img/Статья-Фон.jpg' %}" alt="Описание изображения">#}

{% block content %}
        <div class="base">
        {% if user.username %}
            <div>
                <h2>Добро пожаловать на сайт {{ user.username }}</h2>
                <p>Теперь вам доступно добавление, изменения и удаление своих статей!</p>
            </div>
        {% else %}
            <div class="dog">
                <h1>Добро пожаловать!</h1>
                <p>
                    Здесь, в нашем уютном уголке интернета, мы предлагаем уникальную возможность исследовать мир слова и делиться своими мыслями и идеями с миллионами людей по всему миру.
                    Здесь каждый может найти что-то для своей души - погрузиться в фантастические миры или познать новые знания, запечатлеть важные моменты своей жизни или поделиться своими историями с другими.
                    Яркое и вдохновляющее путешествие начинается с регистрации на нашей платформе.
                    Зарегистрировавшись, вы открываете для себя мир возможностей, где каждая ваша статья сохраняется и остается только вашей собственностью.
                    Здесь вы сможете свободно изменять и удалять свои публикации в удобное для вас время, создавая идеальное пространство для самовыражения.
                    А если вы еще не зарегистрированы, не тревожьтесь! У вас тоже есть шанс присоединиться к нашему сообществу.
                    Просто нажмите на кнопку "Регистрация" и вас ждет уникальная возможность воплотить свои мысли в слова и делиться ими со всем миром. Разверните свои крылья и откройте себе новые горизонты!
                </p>
            </div>
        {% endif %}
    </div>
{% endblock content %}

</body>
</html>
