{% extends 'index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'articles_detail.css' %}">
    <title>Статья</title>
{% endblock head %}

{% block content %}
    <div>
        <img src="{{ art.image }}" alt="">
        <h1>Тема статьи: {{ art.topic }}</h1>
        <h2>Название: {{ art.title }}</h2>
        <h4 class="text">Текст: {{ art.text }}</h4>
        <h4 class="data">Дата публикации: {{ art.data }}</h4>
        <h4 class="author-text">Автор статьи: {{ art.author }}</h4>
        <h4 class="info">Источник: <a href="{{ art.info }}">{{ art.info }}</a></h4>
        {% if art.author == user  %}
            <form action="{% url 'delete_art' art.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Удалить</button>
            </form>

            <form action="{% url 'edit_art' art.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Изменить</button>
            </form>
        {% endif %}
    </div>

{% endblock content %}
