{% extends 'index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'articles_detail.css' %}">
    <title>Статья</title>
{% endblock head %}

{% block content %}
    <div>
        <img src="{{ sience.image }}" alt="">
        <h1>Тема статьи: {{ sience.topic }}</h1>
        <h2>Название: {{ sience.title }}</h2>
        <h4>Текст: {{ sience.text }}</h4>
        <h4>Дата публикации: {{ sience.data }}</h4>
        <h4>Автор статьи: {{ sience.author }}</h4>
        <h4>Источник: <a href="{{ sience.info }}">{{ sience.info }}</a></h4>

        {% if sience.author == user  %}
            <form action="{% url 'delete_sience' sience.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Удалить</button>
            </form>

            <form action="{% url 'edit_sience' sience.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Изменить</button>
            </form>
        {% endif %}
    </div>
{% endblock content %}
