{% extends 'index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'articles_detail.css' %}">
    <title>Статья</title>
{% endblock head %}

{% block content %}
    <div>
        <img src="{{ sport.image }}" alt="">
        <h1>Тема статьи: {{ sport.topic }}</h1>
        <h2>Название: {{ sport.title }}</h2>
        <h4>Текст: {{ sport.text }}</h4>
        <h4>Дата публикации: {{ sport.data }}</h4>
        <h4>Автор статьи: {{ sport.author }}</h4>
        <h4>Источник: <a href="{{ sport.info }}">{{ sport.info }}</a></h4>

        {% if sport.author == user  %}
            <form action="{% url 'delete_sport' sport.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Удалить</button>
            </form>

            <form action="{% url 'edit_sport' sport.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Изменить</button>
            </form>
        {% endif %}
    </div>
{% endblock content %}
